GeneQueryMainPanel/GeneQueryMainPanel.v12.suo
GeneQueryMainPanel/GeneQueryMainPanel/bin/Debug/GeneQueryMainPanel.vshost.exe
*.exe
*.txt
*.suo
*.cache
*.cache
*.exe
*.txt
*.pdb
*.exe
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/bin/Debug/GeneQueryNGUI.exe
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/bin/Debug/GeneQueryNGUI.exe
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/bin/Debug/GeneQueryNGUI.exe
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/obj/Debug/Pages/Settings.g.i.cs
GeneQueryMainPanel/GeneQueryMainPanel/obj/Debug/App.g.i.cs
GeneQueryMainPanel/GeneQueryMainPanel/obj/Debug/PageContent/Login.g.i.cs
*.csproj
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/obj/Debug/App.baml
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/obj/Debug/App.g.cs
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/obj/Debug/App.g.i.cs
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/obj/Debug/Content/About.baml
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/obj/Debug/Content/About.g.cs
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/obj/Debug/Content/About.g.i.cs
*.baml
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/obj/Debug/Content/SettingsAppearance.g.cs
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/obj/Debug/Content/SettingsAppearance.g.i.cs
GeneQueryNGUI/GeneQueryNGUI/GeneQueryNGUI/obj/Debug/GeneQueryNGUI.g.resources